* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 1.3em;
  background-color: #faf4d3;
}

hr {
  margin-top: 10%;
  color: #004643;
}
/* ----------global-------------- */

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #004643;
  padding: 60px 49px;
  /* height: 100vh; */
}

/* ----------- main ----------------- */

.welcome {
  margin-bottom: 35px;
  font-size: 1.5em;
}

.about {
  line-height: 1.5em;
  margin-bottom: 14px;
}

/* ------------- header ------------ */

.text-styling {
  font-size: 0.9em;
}

.sub-header {
  margin: 10% 0 8% 0;
  font-size: 30px;
}

/* -------------- contents ------------- */

.right-corner {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  border-top: 2px solid #004643;
  border-right: 2px solid #004643;
  width: 150px;
  height: 150px;
}

.left-corner {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 2px solid #004643;
  border-left: 2px solid #004643;
  width: 150px;
  height: 150px;
}
/* ---------------corner---------------- */

.skill {
  margin: 0.3em 0 5% 20px;
  font-size: 21px;
}

.dot {
  margin-left: 20px;
}

.links:hover {
  cursor: pointer;
  color: #4fa986;
}

.links {
  color: #004643;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* -------------------project/skill-------------------- */
.footer-content {
  position: relative;
}

.copy-social-container {
  display: flex;
}

.social-link-container {
  display: flex;
  flex-direction: row;
  margin: 10% 0 0 0;
}

.social-link {
  width: 25px;
  height: 25px;
  display: block;
  background-repeat: no-repeat;
}
.copy-right {
  font-size: 10px;
  align-content: end;
  margin: 0% 3% 0 0;
  width: 100%;
  padding: 0 0 7px 10%;
}

.git {
  background-image: url(link-icons/github-brands-solid-figma.svg);
}

.linkdin {
  background-image: url(link-icons/linkedin-brands-solid-figma.svg);
}

.gmail {
  background-image: url(link-icons/envelope-solid-figma.svg);
}

/* ============================================================= */
/* =========================media query========================= */
/* ============================================================= */
/* ============================================================= */
@media only screen and (min-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    height: 100%;
  }

  html {
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .main {
    align-content: center;
    margin: 0% 5%;
    /* height: auto; */
    padding: 6% 6% 6% 12%;
    height: 100%;
  }

  .welcome {
    font-size: 2em;
    margin: 20px 0 10px 0;
  }

  .text-styling {
    font-size: 25px;
  }

  hr {
    margin: 0;
  }

  /*=========== global style ==========  */

  .main-content {
    display: flex;
    flex-direction: row;
    margin: 5% 2% 5% 0;
  }

  .intro {
    max-width: 60%;
  }

  .break {
    color: #faf4d300;
  }

  /* =========== links & info ========== */

  .my-skill-container {
    margin: 0 auto;
  }

  .my-skill {
    margin-bottom: 14%;
  }

  .projects-container {
    /* margin: 0 10% 0 0%; */
    line-height: 23px;
  }

  .copy-social-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* padding: 0 0 1.5% 10%; */
  }

  .social-link-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 35px;
  }

  .copy-right {
    height: 10px;
    margin: 0;
    padding: 0;
  }

  /* =========== corner design =========== */

  .left-corner {
    bottom: 50px;
    left: 5%;
    width: 350px;
    height: 270px;
    border-left: 5px solid #004643;
    border-bottom: 5px solid #004643;
  }

  .right-corner {
    top: 50px;
    right: 5%;
    width: 350px;
    height: 260px;
    border-top: 5px solid #004643;
    border-right: 5px solid #004643;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    padding: 6%;
  }

  .intro {
    margin-left: 150px;
  }

  .main-content {
    margin: 3% 15% 5% 150px;
  }

  .left-corner {
    bottom: 50px;
    left: 10%;
    width: 550px;
    height: 270px;
    border-left: 5px solid #004643;
    border-bottom: 5px solid #004643;
  }

  .right-corner {
    top: 50px;
    right: 10%;
    width: 550px;
    height: 260px;
    border-top: 5px solid #004643;
    border-right: 5px solid #004643;
  }
}
